# Pandas Problem Set

In [0]:
import pandas as pd
from google.colab import files
import numpy as np
import matplotlib.pyplot as plt

### Dataset for tutorial and problem set:

    Pima Indian Heritage Diabetes

    Each person in the dataset is a female who is at least 21 years old
    
  #### Below are the variables for each person in the dataset
      'preg': number of pregnancies  
      'plas': plasma glucose concentration 
      'pres': blood pressure 
      'skin': skin thickness
      'test': Insulin
      'mass': BMI
      'pedi': diabetes pedigree function
      'age': age
      'class': '0' means does not have diabetes and '1' means has diabetes

In [0]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [0]:
# your code here
data = pd.read_csv(url, names=names)

Print out the age and class of the 100th patient

In [5]:
data.iloc[100]
# your code here

preg       1.000
plas     163.000
pres      72.000
skin       0.000
test       0.000
mass      39.000
pedi       1.222
age       33.000
class      1.000
Name: 100, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 1

In [6]:
# your code here
data_nodiabetes = data[data['class'] == 0]
print("There are " + str(len(data_nodiabetes)))

There are 500

Write code to figure out how many people are classified as having diabetes, class is 0

In [7]:
# your code here
data_nodiabetes = data[data['class'] == 1]
print("There are " + str(len(data_nodiabetes)))

There are 268

What percent of people have diabetes in the study?

In [8]:
# your code here
(len(data)-len(data_nodiabetes))

500

Print out the pressure and class (no other columns) for the first 5 people

hint: this was not shown in our tutorial. Google how to select multiple columns with loc

Being able to effectively google is a very important coding tool

In [0]:
# your code here

Run the cell below, it will print out the correlation among the columns

In [10]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas   0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres   0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin  -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test  -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass   0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi  -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age    0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
class  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [0]:
glucose_mean = data['plas'].mean()
# your code here

Create a new dataframe with only people that are above the mean found above

In [0]:
# your code here
data_plas_abovemean = data[data['plas'] > glucose_mean]

What percent of this new dataframe has diabetes?

In [13]:
# your code here
len(data_plas_abovemean[data_plas_abovemean['class'] == 1])/len(data_plas_abovemean) * 100

55.873925501432666

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [14]:
# write code here
data_above_avg = data
for label in names[:8]:
  data_above_avg = data_above_avg[data_above_avg[label] > data[label].mean()]
print(len(data_above_avg))

19

In [15]:
# write code here
data.mean()

preg       3.845052
plas     120.894531
pres      69.105469
skin      20.536458
test      79.799479
mass      31.992578
pedi       0.471876
age       33.240885
class      0.348958
dtype: float64

Using what you have learned (and google!) explore the data. Discuss what you find with people around you or the instructors

In [0]:
import sklearn.neighbors
import numpy as np
import scipy.stats
import matplotlib

In [17]:
Native_diabetes = sklearn.neighbors.KNeighborsClassifier(weights='distance')
data.dropna()
X = np.array([list(data[i]) for i in names[:8]]).reshape(768, 8)
print(X.shape)
Y = np.array(list(data['class']))
Native_diabetes.fit(X, Y)

(768, 8)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='distance')

In [19]:
Native_diabetes.predict(np.array([6, 181, 109, 32, 161, 33.9, 0.767, 29]).reshape(1, -1))

array([1])